<div>
  <div class="row" class="header margin">
    <h1 style="padding: 30px 0px 30px 30px">Ethereum Scan  <i style="font-size: 2rem; margin-left: 5px" class="pi pi-globe"></i></h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div>
        <p>Ethereum Blockchain Explorer</p>
        <p-autoComplete
          [(ngModel)]="searchVal"
          [suggestions]="searchResults" 
          (completeMethod)="searchBy($event)"
          [dropdown]="true"
          placeholder="Search by hash or block number"
        >
        </p-autoComplete>
      </div>
    </div>
  </div> 
</div>