<div>
  <div class="row" class="header">
    <h1 class="margin">Ethereum Scan  <i style="font-size: 2rem; margin-left: 5px" class="pi pi-globe"></i></h1>
  </div>
  <div class="row">
    <div class="col">
      <div class="margin flex">
        <h3>Ethereum Blockchain Explorer</h3>
        <div style="margin-left: 15px">
          <p-autoComplete
            [(ngModel)]="searchVal"
            [suggestions]="searchResult" 
            (completeMethod)="searchBy($event)"
            [field]="searchField"
            placeholder="Search by hash or block number"
            [size]="80"
          >
          </p-autoComplete>
        </div>
      </div>
    </div>
  </div> 
</div>